<!DOCTYPE html>
<html>
<head>
  <title>DbApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="hostelApp">
    <ui-view>

    </ui-view>
</body>
</html>
